<h1>Log in</h1>
<form action="/logIn" method="post">
  <div>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
  </div>
  <input type="submit" value="Submit">
</form>

<p>{{info}}</p>